
.bannerImage{
    overflow: hidden;
}

body{
    display: grid;
    grid-template-columns: 400px 1fr;
    max-width: 1200px;
}


.Jemok{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    padding: 50px;
    justify-content: center;
    gap: 20px;
}

.Jemok h1{
    font-size: 75px;
    font-family: sans-serif;
}

.Jemok p{
    font-family: sans-serif;
    font-size: 25px;
}
.SUBSCRIBE{
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.Jemok input[type=text]{
    height: 30px;
    padding: 10px;
}

.Jemok button{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    border: 0;
    font-size: 20px;
    align-self: end;
}

.Jemok .optin{
    align-self: start;
}